{% extends 'stockkeepapp/base.html' %}
{% block content %}
<h1>保存銘柄一覧</h1>
<table class="table">
	<thead>
		<th>銘柄コード</th>
		<th>会社名</th>
		<th>登録時株価</th>
		<th>現在値</th>
		<th>備考</th>
		<th>#</th>
	</thead>
	<tbody>
		{% for stock in stock_list %}
		<tr>
			<td><a href="{% url 'stockkeepapp:update' stock.pk %}">{{stock.code}}</a></td>
			<td>{{stock.name}}</td>
			<td>{{stock.price}}</td>
			<td></td>
			<td>{{stock.remarks}}</td>
			<td><a href="{% url 'stockkeepapp:delete' stock.pk %}">削除</a></td>
		</tr>
		{% endfor%}
	</tbody>
</table>
{% endblock %}
